1-ingestion_workflow.json
{
  "name": "Article Ingestion - Workflow #1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/article",
        "options": {}
      },
      "id": "2e06af92-0b82-4c2f-b44c-c045b4122d",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 180, 240 ],
      "webhookId": "1b0x-abc-placeholder"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let body = item.json.body;\n  if (typeof body === 'string') {\n    body = JSON.parse(body);\n  }\n  \n  if (!body.title || !body.content) {\n    throw new Error('Missing required fields: title or content');\n  }\n  \n  const idempotency_key = body.idempotency_key || require('crypto').randomUUID();\n  const article_id = idempotency_key;\n  \n  results.push({\n    json: {\n      article_id,\n      created_at: new Date().toISOString(),\n      title: body.title ? body.title.trim() : '',\n      content: body.content ? body.content.trim() : '',\n      category: body.category ? body.category.trim() : '',\n      author: body.author ? body.author.trim() : '',\n      published_at: body.published_at || '',\n      tags_csv: Array.isArray(body.tags) ? body.tags.join(',') : (body.tags || ''),\n      raw_payload: JSON.stringify(body),\n      seo_status: 'pending',\n      seo_requested_at: new Date().toISOString(),\n      seo_processed_at: '',\n      seo_error: ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "e7c2e9b8-bf72-4a06-a8a4-1df",
      "name": "Normalize & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 400, 240 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1b9Nkj4Mt3jLSDG6BCwLKdQFw3W9WHjCQM2v18JlSHis", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Articles", "mode": "name" },
        "options": {}
      },
      "id": "b2c9df76",
      "name": "Store to Sheet A",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 620, 240 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "auth1", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"article_id\": \"{{ $json.article_id }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4",
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 840, 240 ]
    }
  ],
  "connections": {
    "Webhook POST": { "main": [ [ { "node": "Normalize & Validate", "type": "main", "index": 0 } ] ] },
    "Normalize & Validate": { "main": [ [ { "node": "Store to Sheet A", "type": "main", "index": 0 } ] ] },
    "Store to Sheet A": { "main": [ [ { "node": "Respond to Frontend", "type": "main", "index": 0 } ] ] }
  }
}
