2-seo_processing_workflow.json
{
  "name": "SEO & Ranking Processing - Workflow #2",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 5 } ] } },
      "id": "c1",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1b9Nkj4Mt3jLSDG6BCwLKdQFw3W9WHjCQM2v18JlSHis", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Articles", "mode": "name" },
        "options": { "values": [ { "column": "seo_status", "value": "pending" } ] }
      },
      "id": "c2",
      "name": "Fetch 'pending' Articles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1b9Nkj4Mt3jLSDG6BCwLKdQFw3W9WHjCQM2v18JlSHis", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Articles", "mode": "name" },
        "key": "article_id",
        "columns": { "mappingMode": "defineBelow", "value": { "seo_status": "processing" } }
      },
      "id": "c3",
      "name": "Lock Record (Processing)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { article_id: $json.article_id, title: $json.title, content: $json.content } };"
      },
      "id": "c4",
      "name": "Prepare LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 700, 300 ]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o-mini", "mode": "list" },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert SEO Specialist. You strictly output valid JSON. Generate output containing EXACTLY these keys: primary_keywords (list of 5-10 words), long_tail_keywords (list of 10-20), meta_title (max 60 chars), meta_description (max 155 chars), and ranking_insights (an object with: primary_target, high_opportunity array, high_competition array, notes string). Ensure high quality, realistic insights."
            },
            {
              "role": "user",
              "content": "={{ 'Title: ' + $json.title + '\\n\\nContent: ' + $json.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "c5",
      "name": "OpenAI - Generate SEO & Ranking",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [ 900, 300 ],
      "credentials": { "openAiApi": { "id": "auth2", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1b9Nkj4Mt3jLSDG6BCwLKdQFw3W9WHjCQM2v18JlSHis", "mode": "id" },
        "sheetName": { "__rl": true, "value": "SEO_Results", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $('Prepare LLM Prompt').item.json.article_id }}",
            "processed_at": "={{ new Date().toISOString() }}",
            "primary_keywords_csv": "={{ $json.message.content.primary_keywords.join(',') }}",
            "long_tail_keywords_csv": "={{ $json.message.content.long_tail_keywords.join(',') }}",
            "meta_title": "={{ $json.message.content.meta_title }}",
            "meta_description": "={{ $json.message.content.meta_description }}",
            "openai_raw": "={{ JSON.stringify($json.message.content) }}",
            "ranking_insights": "={{ JSON.stringify($json.message.content.ranking_insights) }}"
          }
        }
      },
      "id": "c6",
      "name": "Save to Sheet B",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1100, 300 ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Articles", "mode": "name" },
        "key": "article_id",
        "columns": { "mappingMode": "defineBelow", "value": { "seo_status": "done", "seo_processed_at": "={{ new Date().toISOString() }}" } }
      },
      "id": "c7",
      "name": "Mark Done in Sheet A",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1300, 300 ]
    }
  ],
  "connections": {
    "Cron Trigger": { "main": [ [ { "node": "Fetch 'pending' Articles", "type": "main", "index": 0 } ] ] },
    "Fetch 'pending' Articles": { "main": [ [ { "node": "Lock Record (Processing)", "type": "main", "index": 0 } ] ] },
    "Lock Record (Processing)": { "main": [ [ { "node": "Prepare LLM Prompt", "type": "main", "index": 0 } ] ] },
    "Prepare LLM Prompt": { "main": [ [ { "node": "OpenAI - Generate SEO & Ranking", "type": "main", "index": 0 } ] ] },
    "OpenAI - Generate SEO & Ranking": { "main": [ [ { "node": "Save to Sheet B", "type": "main", "index": 0 } ] ] },
    "Save to Sheet B": { "main": [ [ { "node": "Mark Done in Sheet A", "type": "main", "index": 0 } ] ] }
  }
}
