n8n-workflows/workflow-2-seo-processing.json
{
  "name": "Workflow 2 - SEO & Ranking Processing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Articles"
      },
      "id": "node-read-all",
      "name": "Read All Articles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.seo_status }}",
              "operation": "equal",
              "value2": "pending"
            }
          ]
        }
      },
      "id": "node-filter-pending",
      "name": "Filter Pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $json.article_id }}",
            "seo_status": "processing"
          },
          "matchingColumns": ["article_id"]
        }
      },
      "id": "node-lock",
      "name": "Lock Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [760, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert SEO analyst. Analyze the given article and return ONLY a valid JSON object with no extra text or markdown."
            },
            {
              "role": "user",
              "content": "Analyze this article for SEO.\n\nTitle: {{ $json.title }}\nCategory: {{ $json.category }}\nContent: {{ $json.content }}\n\nReturn exactly this JSON structure:\n{\n  \"primary_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"long_tail_keywords\": [\"long tail phrase 1\", \"long tail phrase 2\"],\n  \"meta_title\": \"An SEO optimized title under 60 chars\",\n  \"meta_description\": \"A compelling meta description under 160 chars\",\n  \"ranking_insights\": {\n    \"primary_target\": \"best keyword to target\",\n    \"high_opportunity\": [\"low competition keyword 1\", \"low competition keyword 2\"],\n    \"high_competition\": [\"hard to rank keyword 1\"],\n    \"notes\": \"Brief strategic advice for ranking this article\"\n  }\n}"
            }
          ]
        }
      },
      "id": "node-openai",
      "name": "AI SEO Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [980, 200]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || '';\nlet seo;\ntry {\n  // Strip markdown code fences if present\n  const cleaned = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  seo = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse OpenAI JSON response: ' + raw.slice(0, 200));\n}\n\nconst articleData = $node['Lock Record'].json;\n\nreturn [{\n  json: {\n    article_id: articleData.article_id,\n    processed_at: new Date().toISOString(),\n    primary_keywords_csv: (seo.primary_keywords || []).join(', '),\n    long_tail_keywords_csv: (seo.long_tail_keywords || []).join(', '),\n    meta_title: seo.meta_title || '',\n    meta_description: seo.meta_description || '',\n    ranking_insights: JSON.stringify(seo.ranking_insights || {})\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Parse SEO Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "SEO_Results",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $json.article_id }}",
            "processed_at": "={{ $json.processed_at }}",
            "primary_keywords_csv": "={{ $json.primary_keywords_csv }}",
            "long_tail_keywords_csv": "={{ $json.long_tail_keywords_csv }}",
            "meta_title": "={{ $json.meta_title }}",
            "meta_description": "={{ $json.meta_description }}",
            "ranking_insights": "={{ $json.ranking_insights }}"
          }
        }
      },
      "id": "node-save-seo",
      "name": "Save to SEO_Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1420, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $json.article_id }}",
            "seo_status": "done"
          },
          "matchingColumns": ["article_id"]
        }
      },
      "id": "node-mark-done",
      "name": "Mark Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1640, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $node['Lock Record'].json.article_id }}",
            "seo_status": "failed"
          },
          "matchingColumns": ["article_id"]
        }
      },
      "id": "node-handle-failure",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1640, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Read All Articles", "type": "main", "index": 0 }]]
    },
    "Read All Articles": {
      "main": [[{ "node": "Filter Pending", "type": "main", "index": 0 }]]
    },
    "Filter Pending": {
      "main": [
        [{ "node": "Lock Record", "type": "main", "index": 0 }],
        []
      ]
    },
    "Lock Record": {
      "main": [[{ "node": "AI SEO Analysis", "type": "main", "index": 0 }]]
    },
    "AI SEO Analysis": {
      "main": [[{ "node": "Parse SEO Response", "type": "main", "index": 0 }]]
    },
    "Parse SEO Response": {
      "main": [[{ "node": "Save to SEO_Results", "type": "main", "index": 0 }]]
    },
    "Save to SEO_Results": {
      "main": [
        [{ "node": "Mark Done", "type": "main", "index": 0 }],
        [{ "node": "Handle Failure", "type": "main", "index": 0 }]
      ]
    }
  }
}