n8n-workflows/workflow-1-ingestion.json
{
  "name": "Workflow 1 - Article Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook - Article Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n// Reliable ID generation for all environments\nconst articleId = 'art_' + Math.random().toString(36).substring(2, 10) + Date.now().toString(36);\n\nreturn [{\n  json: {\n    article_id: articleId,\n    created_at: new Date().toISOString(),\n    title: (body.title || '').trim(),\n    content: (body.content || '').trim(),\n    category: (body.category || '').trim(),\n    author: (body.author || '').trim(),\n    published_at: (body.published_at || '').trim(),\n    tags_csv: (body.tags || '').split(',').map(t => t.trim()).filter(Boolean).join(', '),\n    seo_status: 'pending',\n    seo_requested_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-normalize",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "article_id": "={{ $json.article_id }}",
            "created_at": "={{ $json.created_at }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "category": "={{ $json.category }}",
            "author": "={{ $json.author }}",
            "published_at": "={{ $json.published_at }}",
            "tags_csv": "={{ $json.tags_csv }}",
            "seo_status": "={{ $json.seo_status }}",
            "seo_requested_at": "={{ $json.seo_requested_at }}"
          }
        }
      },
      "id": "node-sheet-a",
      "name": "Store in Sheet A",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, article_id: $node['Normalize Data'].json.article_id }) }}"
      },
      "id": "node-respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook - Article Ingest": { "main": [[{ "node": "Normalize Data", "type": "main", "index": 0 }]] },
    "Normalize Data": { "main": [[{ "node": "Store in Sheet A", "type": "main", "index": 0 }]] },
    "Store in Sheet A": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  }
}